<div class="modal fade" id="bot_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Telegram Bot Panel</h5>
            </div>
            <div class="modal-body">
                <p>
                    It is possible to order same services through our Telegram bot. Check it out at @BoostGram_Robot    
                </p>
                <br />
                <hr />
                <h6>BoostGram always protects your privacy!</h6>
            </div>
        </div>
    </div>
</div>