<div class="modal fade" id="contact_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Contact us</h5>
            </div>
            <div class="modal-body">
                <p>
                    Hope you are fine and everything is convenient for you, in case you would like to get in touch for
                    the
                    following:
                </p>
                <ol>
                    <li>
                        Large orders
                    </li>
                    <li>
                        Technical problems
                    </li>
                    <li>
                        Improper service
                    </li>
                </ol>
                <br />
                Feel free to contact us using the following ways:
                <ol>
                    <li>
                        To our email address which is:
                        <strong>support@boostgram.net</strong>
                    </li>
                    <br />
                    <li>
                        Contact through our telegram:
                    </li>
                </ol>
                <hr />
                Good luck and thank you for choosing to use our services.
            </div>
        </div>
    </div>
</div>