<div class="modal fade" id="faq_modal" tabindex="-2" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">

    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Frequently Asked Questions</h5>
            </div>
            <div class="modal-body" id="faq_content">
                <strong>Q:</strong> What is Partial status? &nbsp;<div onclick="show_ans(this,1)" type="button"
                    class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_1"><strong>A:</strong> Partial Status is when we partially refund the remains of an
                    order.
                    Sometimes
                    for
                    some reasons we are
                    unable to deliver a full order, so we refund you the remaining undelivered amount. Example: You
                    bought
                    an order with quantity 1000 and charges 1$, let's say we delivered 900 and the remaining 100 we
                    couldn't
                    deliver, then we will "Partial" the order and refund you the remaining 1000 (0.1$ in this example).
                    <br /></span> <br />
                <strong>Q:</strong>What is Drip Feed?💧 &nbsp;<div onclick="show_ans(this,2)" type="button"
                    class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_2"><strong>A:</strong>
                    Drip Feed is a service that we are offering so you would be able to put the same order multiple
                    times
                    automatically. Example: let's say you want to get 10000 likes on your Instagram Post but you want to
                    get
                    1000 likes each 30 minutes, you will put Link: Your Post Link Quantity: 100 Runs: 10 (as you want to
                    run
                    this order 10 times, if you want to get 20000 likes, you will run it 20 times, etc…) Interval: 30
                    (because you want to get 100 likes on your post each 30 minutes, if you want each hour, you will put
                    60
                    because the time is in minutes) P.S: Never order more quantity than the maximum which is written on
                    the
                    service name (Quantity x Runs), Example if the service's max is 4000, you don’t put Quantity: 500
                    and
                    Run: 10, because total quantity will be 500x10 = 5000 which is bigger than the service max (4000).
                    Also
                    never put the Interval below the actual start time (some services need 60 minutes to start, don’t
                    put
                    Interval less than the service start time or it will cause a fail in your order)
                    <br /></span> <br />

                <strong>Q:</strong>Does drip feed work with mass order / or with API?&nbsp;<div
                    onclick="show_ans(this,3)" type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_3"><strong>A:</strong>
                    Drip Feed doesn't work with neither "Mass Order" nor API.
                    <br /></span> <br />

                <strong>Q:</strong>Do you accept PAYPAL?&nbsp;<div onclick="show_ans(this,4)" type="button"
                    class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_4"><strong>A:</strong>
                    Yes, we do accept PAYPAL!
                    <br /></span> <br />


                <strong>Q:</strong>What is Telegram "FORCE ADD METHOD"?&nbsp;<div onclick="show_ans(this,5)"
                    type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>

                <hr><span id="a_5"><strong>A:</strong>
                    We can connect to Telegram with unofficial telegram versions, like plus messenger or another
                    messengers,
                    we own some of them and can add our platform users to your channels
                    <br /></span> <br />

                <strong>Q:</strong>What’s different between Telegram Numbers?&nbsp;<div onclick="show_ans(this,6)"
                    type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>

                <hr><span id="a_6"><strong>A:</strong>
                    Telegram have some restriction, Iranian accounts cannot add fast to non-Iranian channels, US account
                    can
                    only fast join to Iran and US channels, these two country restricted due high volume of spam with
                    this
                    numbers
                    <br /></span> <br />

                <strong>Q:</strong>Why have special service for Telegram US or IRAN Ownership? &nbsp;<div
                    onclick="show_ans(this,7)" type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>

                <hr><span id="a_7"><strong>A:</strong>
                    Must of our database are Iran and US numbers, due, Iranian accounts cannot add fast to non-Iranian
                    channels, US account can only fast join to Iran and US channels, and these numbers are the best for
                    build new channels, we always have big volume capacity for delivery
                    <br /></span> <br />

                <strong>Q:</strong>I need open a business on telegram from where need to start? &nbsp;<div
                    onclick="show_ans(this,8)" type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_8"><strong>A:</strong>
                    You can contact us via ticket, you need explain us about your work and we will build a business plan
                    for
                    you, we are the best SEO expert on telegram!
                    I need be on top search Telegram on a targeted keyword on my country, how to be first?
                    We have an SEO expert team, 24/7 big data analyzer, give us keyword and targeted country and we will
                    give you information what you need on begin and time to do job by us.
                    <br /></span> <br />


                <strong>Q:</strong>How do I place an order? &nbsp;<div onclick="show_ans(this,9)" type="button"
                    class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_9"><strong>A:</strong>
                    Category: Select the social media platform you want to enhance
                    Service: Select the service type
                    Link: Enter the username or page link
                    Quantity: Enter the amount needed (do not use commas or dots, for example, use 1000 instead of
                    1,000)
                    <br /></span> <br />

                <strong>Q:</strong>What is the start time & speed after placing an order? &nbsp;<div
                    onclick="show_ans(this,10)" type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_10"><strong>A:</strong>
                    Every service is different. Whenever you select a service from the drop down menu, you will find a
                    box
                    with all the information needed for that particular service, start time, minimum/maximum amounts, as
                    well as the average daily speed.
                    <br /></span> <br />

                <strong>Q:</strong>Can I cancel an order if the speed mentioned in the service description was not
                accurate? &nbsp;<div onclick="show_ans(this,11)" type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_11"><strong>A:</strong>
                    Delays can sometimes occur, this is mainly caused by recent updates in a certain Social Media
                    website’s
                    algorithm or a system overload, on the rare occasion that this can happen we will only be able to
                    refund
                    the missing amount from the order within 48 hours of opening the ticket if the issue was not solved.
                    <br /></span> <br />

                <strong>Q:</strong>Can I use your services while using outside sources or running ad campaigns? &nbsp;
                <div onclick="show_ans(this,12)" type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_12"><strong>A:</strong>
                    Ad campaigns do not affect our delivery times or process; however, we rely strictly on the start
                    counts
                    and current counts seen by our system and do not count any exterior enhancements, whether it is from
                    ad
                    campaigns or outside sources.
                    <br /></span> <br />

                <strong>Q:</strong>Are my followers/likes/views guaranteed not to drop? &nbsp;<div
                    onclick="show_ans(this,13)" type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_13"><strong>A:</strong>
                    The bulk of our services have a refill guarantee, meaning that we would replenish your account free
                    of
                    charge if you face a drop within the refill period.
                    <br /></span> <br />

                <strong>Q:</strong>When am I not eligible for refills? &nbsp;<div onclick="show_ans(this,14)"
                    type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_14"><strong>A:</strong>
                    Some clients place orders with us after using previous providers, for example they place an order of
                    1,000 followers for an account with tens or hundreds of thousands of followers, such accounts are
                    bound
                    to drop at some point due to the large numbers of previously bought followers, as such, we cannot
                    offer
                    refills for accounts that exceed 100,000 fans.
                    <br /></span> <br />

                <strong>Q:</strong>I entered the wrong username or wish to cancel an order after entry, is that
                possible? &nbsp;<div onclick="show_ans(this,15)" type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_15"><strong>A:</strong>
                    If the username/link is valid then the order cannot be stopped; however, if the link is invalid (for
                    example a YouTube link in an Instagram service) then we can cancel and refund.
                    <br /></span> <br />

                <strong>Q:</strong>My order status is “Partial”, what does this mean? &nbsp;<div
                    onclick="show_ans(this,16)" type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_16"><strong>A:</strong>
                    A partial status occurs when a link has already maxed out that particular server’s capacity, when
                    this
                    happens you will automatically get a refund for the amount that was not delivered and you may then
                    use
                    any of our other servers for that link
                    <br /></span> <br />

                <strong>Q:</strong>How can I get a website like yours and why is this recommended? &nbsp;<div
                    onclick="show_ans(this,17)" type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_17"><strong>A:</strong>
                    You can get a website like ours within minutes from CREATE PANEL HERE All you need to do is connect
                    the
                    services to us(takes less than 30 seconds per service) and set them at a higher rate on your
                    website,
                    any order placed there will automatically be forwarded to us where it will be delivered within
                    minutes!
                    We recommend this as customers like to place their own orders and would be more encouraged to do so
                    when
                    they can do it manually, and it is a lot less hassle for you as you do not need to manually maintain
                    orders and instead focus on marketing your new site!
                    P.S. We offer this service for free for the first month for users that have spent more than $1,000
                    with
                    us!
                    <br /></span> <br />

                <strong>Q:</strong>Do you accept any payment methods that are not listed on the “Add Funds” page? &nbsp;
                <div onclick="show_ans(this,18)" type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_18"><strong>A:</strong>
                    A We only accept PayPal and the methods listed on the “Add Funds” page, Paytm and other forms of
                    payment
                    are not accepted
                    <br /></span> <br />

                <strong>Q:</strong>Can I order with the drip feed option via mass orders or API? &nbsp;<div
                    onclick="show_ans(this,19)" type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_19"><strong>A:</strong>
                    Drip feed orders are only available manually at the moment and are not possible using the mass order
                    format or via API
                    <br /></span> <br />

                <strong>Q:</strong>How can I get YouTube or Facebook comment links? &nbsp;<div
                    onclick="show_ans(this,20)" type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_20"><strong>A:</strong>
                    In order to retrieve YouTube or Facebook comment links, simply right click on the time of comment,
                    then
                    select “Copy Link Address”, then paste it in a new tab and check if it will take you to the comment
                    you
                    are looking for and if it does then you’ve done it correctly!
                    <br /></span> <br />

                <strong>Q:</strong>What are the benefits linked to social media? &nbsp;<div onclick="show_ans(this,21)"
                    type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_21"><strong>A:</strong>
                    Social media has changed the way businesses communicate with consumers. It’s no longer necessary for
                    a
                    consumer to pick up the phone to learn about your products or services.
                    Potential clients can now find all the information they need with just the click of a mouse.
                    Creating a
                    social media presence for your business allows you to connect with consumers in a more personal way
                    than
                    traditional media allowed for. It also allows you to meet them on their terms and in the location
                    they
                    feel most comfortable spending time.
                    <br /></span> <br />

                <strong>Q:</strong>What are the benefits of a Twitter account? &nbsp;<div onclick="show_ans(this,22)"
                    type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_22"><strong>A:</strong>
                    Twitter allows potential customers to get a better understanding of who you are, what your business
                    is
                    all about and how you might best serve their needs given their particular circumstance. It also
                    enables
                    your business to follow and connect with a very specific target audience. Tweeting about your
                    business,
                    sharing interesting facts, answering common questions and offering helpful insight will build
                    loyalty
                    and trust. Plus, tweeting on a consistent basis will help you find your brand voice and tweeting
                    rhythm;
                    two very important components to a successful Twitter strategy.
                    <br /></span> <br />
                <strong>Q:</strong>What is the difference between a Facebook profile and a business page? &nbsp;<div
                    onclick="show_ans(this,23)" type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_23"><strong>A:</strong>
                    A Facebook “Profile” also known as your personal “Timeline,” is the standard Facebook experience,
                    representing one person, his or her interests, and his or her connections with other Facebook users.
                    A Facebook “Page” on the other hand, may be used to brand a product or represent a company,
                    community,
                    or special interest group. Facebook offers many free ways to help a company interact with the users
                    that
                    choose to connect with or “like” them.
                    <br /></span> <br />

                <strong>Q:</strong>Why is a Facebook Business page important? &nbsp;<div onclick="show_ans(this,24)"
                    type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_24"><strong>A:</strong>
                    There was a time when I would have unequivocally answered yes to this question. However, marketing
                    your
                    business on Facebook has evolved. The pros of a fan page are search engine visibility and the
                    ability to
                    build meaningful relationships with people truly interested in your product or service.
                    <br /></span> <br />

                <strong>Q:</strong>How is YouTube important? &nbsp;<div onclick="show_ans(this,25)" type="button"
                    class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_25"><strong>A:</strong>
                    YouTube is the second largest search engine next to Google and the top site for video content. With
                    over
                    2 billion monthly views and 1 billion unique users, YouTube has the ability to put your content in
                    front
                    of the right people. In fact, recent statistics prove the power of video as viewers consume more
                    than 4
                    billion hours of video each month.
                    YouTube can bring a whole new look and feel to your online person.
                    <br /></span> <br />
                <strong>Q:</strong>Cancel button pressed if refill button is not working? &nbsp;<div
                    onclick="show_ans(this,26)" type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_26"><strong>A:</strong>
                    If you want to refill or cancel an order you can use the cancel or refill button, it triggers a
                    reaction
                    to halt an order. If it is too late to stop an order, to press the refill button is not necessary.
                    <br /></span> <br />

                <strong>Q:</strong>Are there any discounts I can get? &nbsp;<div onclick="show_ans(this,27)"
                    type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_27"><strong>A:</strong>
                    We do not provide any discounts; the prices you see are ones you will be charged for. Cheapest on
                    world
                    wide
                    <br /></span> <br />

                <strong>Q:</strong>Which one is the best SMM panel in the market? &nbsp;<div onclick="show_ans(this,28)"
                    type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_28"><strong>A:</strong>
                    Before taking social media marketing services from any SMM panel, you must be careful about some
                    matters.
                    API support for panel owners and Individuals
                    The panel must be shown how many hours and minutes to complete an Order.
                    Panel Must-Have cancel and refill button for customers to have the freedom to cancel and refill
                    Orders.
                    The best panel always provide friendly customer support and 24/7 Customers support.
                    The best panel always keep popular payment gateway Like Carding, PayPal and More International
                    Payment
                    methods.
                    Every service should have honest descriptions for customers, and Customers Must Understand Services.
                    The panel should have fair Terms of Service and Refund policy.
                    After qualifying all of these above criteria, we can say that SMMVALY is the best SMM panel.
                    <br /></span> <br />

                <strong>Q:</strong>What can I do if I face any difficulty? &nbsp;<div onclick="show_ans(this,29)"
                    type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_29"><strong>A:</strong>
                    BoostGram is the best SMM panel service provider. We worked for a long time and have a good
                    experience.
                    Our support team is always dedicated to you. If you face any difficulty buying our panel services,
                    please contact us with our support without any hesitation. We will help you as fast as electricity.
                    <br /></span> <br />

                <strong>Q:</strong>How can I get more likes, shares, and followers for my business on social media
                networking sites? &nbsp;<div onclick="show_ans(this,30)" type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">
                    Show
                </div>
                <hr><span id="a_30"><strong>A:</strong>
                    We can help you with this! All you need to do is contact us with your requirements and we will work
                    to
                    build your presence online through our SMM services.
                    <br /></span> <br />

                <strong>Q:</strong>Which are the top five social media networks and apps which are great for SMM? &nbsp;
                <div onclick="show_ans(this,31)" type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_31"><strong>A:</strong>
                    Among the several social media networking sites and apps, the ones which gain maximum attention and
                    are
                    great for SMM are Facebook, Twitter, Instagram, YouTube, and Tiktok.
                    <br /></span> <br />

                <strong>Q:</strong>How to Fill the Field Link Depending On the Type of Service? &nbsp;<div
                    onclick="show_ans(this,32)" type="button" class="btn btn-sm btn-dark rounded-4 px-4 py-1 background-button-faq-gray">Show
                </div>
                <hr><span id="a_32"><strong>A:</strong>
                    Instagram Likes Fast: http: //instagram.com/p/xxx/
                    Instagram Likes Fake HQ: http: //instagram.com/p/xxx/ or http://instagram.com/username/p/xxx/
                    Instagram Comments: http: //instagram.com/p/xxx/
                    Real Instagram Followers: username
                    Real Instagram Likes: http: //instagram.com/p/xxx/
                    Real Instagram Followers RUS: http: //instagram.com/username
                    Real Instagram Likes RUS: http: //instagram.com/p/xxx/Twitter Followers: http:
                    //twitter.com/username
                    Twitter Retweets / Favorite/Likes: https: //twitter.com/username/status/3448247339264
                    <br /></span> <br />
            </div>
        </div>
    </div>
</div>